/* header */
header{
    width: 100%;
    display: flex;
    flex-direction: column;

    /* nav */
    nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 4rem;
        padding-block: 0.4rem;
        box-shadow: 4px 6px 12px #ddd;
        position: sticky;
        top: 0;
        transition: 1s ease-in-out;
    }

    nav.active{
        position: fixed;
        top: 0%;
        background: #fff;
        color: #333;
        z-index: 999;
        box-shadow: 4px 6px 12px #dddddd41;
    }

    nav.active a{
        color: #333;
    }


    nav .logo{
        background: var(--background);
        color: #fff;
        border-radius: 4px;
    }

    nav .logo p{
        border: 1px solid var(--background);
        padding: 4px 12px;
        border-radius: 4px;
        font-weight: 800;
    }

    nav .links{
        display: flex;
        align-items: center;
    }

    nav .links a{
        text-transform: capitalize;
        text-decoration: none;
        padding: 0.4rem;
        font-weight: 500;
        border: 1px solid #fdfdfd;
        border-radius: 4px;
        /* color: var(--background); */
        transition: 0.5s ease-in-out;
    }

    nav .links a:hover{
        border: 1px solid var(--background);
    }

    nav #bars{
        display: none;
    }

    .pack{
        background: linear-gradient(45deg,orange,orangered);
        padding: 4px 4px !important;
        padding-left: 14px !important;
        color: #fdfdfd !important;
        border-radius: 24px !important;
        margin-right: 5px;
        text-decoration: none;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center;
        gap: 10px;

        .icy{
            font-weight: 700;
            background: white;
            color: orange;
            padding: 1px 5px;
            border-radius: 100%;
        }
    }

    .piko{
        gap: 10px;
        position: absolute;
        top: -30px;
    }

    .pikop{
        width: 140px;
        display: none;
        background: linear-gradient(45deg,orange,orangered);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 24px;
        padding-left: 14px;
        padding-right: 4px;
        color: #fff !important;
        text-decoration: none !important;

        .icy{
            font-weight: 700;
            background: white;
            color: orange;
            padding: 1px 5px;
            border-radius: 100%;
        }
    }

    .close{
        display: none;
    }

    /* .dark-mo */

    .dark-mo{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        color: #aaaaaa;
        padding: 0.4rem;
        font-size: 1rem;
        border: 1px solid #ddd;
        border-radius: 100%;

        .bi-sun{
            position: absolute;
            color: #fff;
            font-weight: 700;
        }

        .bi-moon{
            color: #333;
            opacity: 0;
            transform: rotateX(360deg);
        }
    }

    .dark-mo:hover{
        cursor: pointer;
    }
}


/* ================ footer styles ================= */


/* footeerr styles */
footer{
    width: 100%;
    background: #eeeeee;
    background-image: url(../img/tst_bck-02.jpg);
    background-size: cover;
    color: var(--dck-acc);
    padding: 4rem;
    padding-bottom: 0rem;

    h2{
        font-size: 1.2rem;
    }
}

.footer-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding-bottom: 1rem;
}

.footer-About{
    width: 100%;
}

.footer-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.foot-links{
    display: flex;
    flex-direction: column;
}

.footer-nav a{
    color: var(--dck-acc);
    text-decoration: none;
}

.footer-socials{
    flex-direction: column;
    width: 100%;
    display: flex;
    gap: 30px;
}

.icons{
    display: flex;
    gap: 30px;
}

.copy-ryt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
    /* background: #eeeeee; */
    border-top: 1px solid #aaaaaa;
}

/* =============== Header media queries =============== */

@media screen and (max-width: 768px) {
    nav{
        width: 100%;
        position: relative;
        padding-inline: 2rem !important;

        #bars{
            width: 30px;
            height: 30px;
            background: transparent;
            display: flex !important;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            border-radius: 4px;
            box-shadow: var(--shad-2);
            border: 1px solid orange;

            .bi-list{
                font-size: 1.5rem;
                color: orange;
            }
        }

        .links{
            width: 100%;
            background: #ffffff71;
            backdrop-filter: blur(7px);
            padding: 34px;
            padding-top: 24px;
            position: absolute;
            right: -200%;
            top: 0%;
            opacity: 0;
            display: flex;
            flex-direction: column !important;
            justify-content: left !important;
            align-items: start !important;
            gap: 15px;
            transition: transform 1s ease-in-out,
                        opacity 0.9s ease-in-out, box-shadow 1.8s ease-in-out;
            z-index: 999;

            a{
                width: 80%;
                border-color: #3333332a !important;
            }

            .close{
                width: 30px;
                height: 30px;
                color: orangered;
                border: 1px solid orangered;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 20px;
                right: 20px;

                .icky{
                    font-size: 1.2rem;
                    color: orangered;
                    display: block;
                }
            }
        }

        .links.small{
            height: 100vh;
            right: 0%;
            opacity: 1;
            box-shadow: var(--shad-2);
            /* z-index: 1; */
            transition: all 1s ease-in-out;
        }

        .piko{
            position: relative;
            top: 0px;
        }

        .pikop{
            display: flex;
        }
    }


    /* ========footer========== */
    footer{
        padding-inline: 2rem;
    }
    
    .footer-content{
        flex-wrap: wrap;
        gap: 15px;
    }

    .copy-ryt{
        width: 100% !important;
        display: flex;
        align-items: center;
        flex-direction: column !important;
        justify-content: space-between;
        padding-inline: 1 !important;

        p{
            width: 100% !important;
        }
    }
}

